nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
    font-size: x-large;
    list-style: none;
}

ul {
	display: flex;
}

li {
	list-style: none;
	margin: 1rem;
}

footer{
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;
}
.lead__logo {
    display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border: 0;
}
h1{
    margin: 1em 0;
    font-weight: 300;
    text-align: center;
    color: #00b39b;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    font-weight: 100;
    color: grey;
    
    
}
.par1{
    margin: 10PX 30px;
    background-color: #6ef1e0;
    border: 100px;
width: 35%;
    flex-wrap: wrap;
    font-size: medium;
    
    
}
.par2{
    margin: 10px 10px;
    background-color:#6ef1e0 ;
width: 35%;
    flex-wrap: wrap;
    font-size: medium;

  
    
}
.offices__header p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.logo{
    width: 30%;
}
.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% 9% 2% 9%;
padding-top: 20%;
  }
  .country {
    margin-bottom: 2%;
    border-radius: 2%;
  }
  .country div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    color: #747474;
  }
  .country img {
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
  }
  .country div button {
    color: white;
    background-color: #3d83df;
    border: white;
    padding: 2% 2% 2% 2%;
    height: 10%;
    font-size: 70%;
    border-radius: 5px;
    font-weight: bold;
  }
  .country:hover {
    box-shadow: 0px 0px 5px 0px;
    cursor: pointer;
  }
  .impr {
    text-align: center;
  }
  .impr h1 {
    color: #00b39b;
    font-weight: 600;
    margin: 0% 35% 0% 35%;
  }
  .impr p {
    color: #747474;
    margin: 5% 2%;
    font-size: medium;
    font-weight: bold;
    padding-left: 25%;
    padding-right: 25%;
  }
  .last-p {
    text-align: center;
  }
  .last-p p {
    font-size: 200%;
  }
  .last-p button {
    color: white;
    background-color: #3d83df;
    padding: 1% 1% 1% 1%;
    border: white;
    font-size: 70%;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 5%;
  }